absl-py>=2.3.1
google-adk>=1.7.0
google-cloud-modelarmor>=0.2.8
google-genai>=1.5.0
pdfplumber>=0.11.5
pydantic>=2.11.7
pydantic_core>=2.33.2
pydantic-settings>=2.10.0
typing_extensions>=4.14.0
google-cloud-aiplatform[adk,agent-engines]>=1.93.0
